<section id="page_index">
  <header>
    <div class="pull-right">
      <a class="edit-btn" {{action startEditing}}>Edit</a>
    </div>
    <h1>{{name}} - {{ticker}}</h1>
  </header>
  {{#if isEditing}}
    testt
  {{else}}
  <div class="table-container">
    <table class="exchanges-table">
      <thead>
        <th>Exchange</th>
        <th>Market</th>
        <th>Price</th>
        <th>Date</th>
      </thead>
      <tbody>
      {{#each exchangeRates}}
      <tr>
          <td>{{market}}</td>
          <td>{{marketType}}</td>
          <td>{{rate}}</td>
          <td>{{parseTime occurredAt}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="table-container">
    <table class="transactions-table">
      <thead>
        <th>Account</th>
        <th>Amount</th>
        <th>Date</th>
      </thead>
      <tbody>
        {{#each transactions}}
        <tr {{bind-attr class=category}}>
            <td>{{account}}</td>
            <td>{{amount}}</td>
            <td>{{parseTime occurredAt}}</tD>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
</section>
