<tr>
  <td>
    {{#link-to "coin" coin}}
      {{coin.name}}
    {{/link-to}}
  </td>
  <td>{{coin.ticker}}</td>
  <td>{{parseTime coin.lastSyncedAt}}</td>
  <td>
    <a class="transaction-btn" {{action redirectToTransactions coin}}>Transactions</a>
    <a class="sync-btn" {{action startSyncing coin}}>Sync</a>
    <a class="delete-btn" {{action delete coin}}>Delete</a>
  </td>
</tr>
